/* PAGE CENTRÉE AVEC BACKGROUND */
.center-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/bg3.jpg'); /* même image que login */
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(3px);
}

/* CARD DU FORMULAIRE */
.card {
  width: 380px;
  padding: 30px;
  background: rgba(185, 178, 219, 0.575);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* TITRE */
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* INPUTS */
.card input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #302ca1;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.card input:focus {
  border-color: #4c84ff;
  box-shadow: 0 0 5px #4c84ff;
}

.card button {
  width: 70%;
  padding: 14px;
  background: #361ad5;
  color: white;
  font-size: 18px;
  border: none;
  margin: 10px auto;   /* <-- centre le bouton */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: block;      /* <-- permet le centrage */
}

.card button:hover {
  background: #3366ff;
}
